/* GENERAL */ 
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: $fontFamily;
    font-weight: 600;
    background-color: #fff;
}

img{
    max-width: 100%;
    height: auto;
}