/* VARIABLES */ 
/* COLORS */ 
$header-bg-color: #014E56;
$main-bg-color: #014E56;
$main-text-color: #fff;
$main-subtitle-color: #F67E7E;
$build-section-bg-color: #012F34;
$deliver-section-text-color: #79C8C7;
$read-section-text-color: #012F34;

/* FONT FAMILY */ 
$fontFamily: "Livvic", "Arial", sans-serif;