/***************** HEADER STYLES START ******************/ 
.site-header{
    padding-top: 73px;
    padding-bottom: 73px;
    background-color: $header-bg-color;
    
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__wrapper--start{
        display: flex;
        align-items: center;
    }
    
    &__logo{
        margin-right: 80px;
    }
    
    &__logo--img{
        width: 159px;
        height: 40px;
    }
    
    &__btn{
        padding: 10px 32px;
        font-size: 18px;
        line-height: 28px;
        @include link-unstyled;
        color: $main-text-color;
        border: 2px solid $main-text-color;
        border-radius: 24px;
        &:active{
            background-color: $main-text-color;
            color: $read-section-text-color;
        }
    }

    &__burger-menu{
        display: none;
        background-color: transparent;
        border: none;
        outline: none;
    }

    /****** HIDDEN HEADER STYLES START ******/ 
    &__hidden{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100% - 120px);
        padding-top: 56px;
        padding-right: 26px;
        padding-left: 48px;
        background-color: $header-bg-color;
        background-image: url("../../images/hidden-bg.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    &__overlay{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #00272b99;
        transform: translateX(450%);
        transition: transform 0.3s ease;
    }

    &__show-header{
        transform: translateX(0%);
    }

    &__close-menu{
        display: block;
        margin-bottom: 39px;
        margin-left: auto;
        border: none;
        outline: none;
        background-color: transparent;
    }
}

.site-nav{
    &__list{
        @include list-unstyled;
    }

    &__item:not(:last-child){
        margin-bottom: 24px;
    }

    &__item:nth-child(2){
        margin-bottom: 36px;
    }

    &__link{
        font-size: 18px;
        line-height: 28px;
        @include link-unstyled;
        color: $main-text-color;
    }

    &__item:last-child &__link{
        padding: 10px 32px;
        border: 2px solid $main-text-color;
        border-radius: 24px;
    }
}
  /****** HIDDEN HEADER STYLES END ******/ 

.sitenav{
    &__list{
        display: flex;
        @include list-unstyled;
    }
    
    &__item{
        margin-right: 40px;
    }
    
    &__link{
        font-size: 18px;
        line-height: 28px;
        @include link-unstyled;
        color: $main-text-color;
        &:active{
            color: $main-subtitle-color;
        }
    }
}
/********** HEADER MOBILE STYLES START **********/ 
@media only screen and (max-width: 768px){
    .site-header{
        padding-top: 64px;
        padding-bottom: 64px;
        
        &__logo{
            margin-right: 48px;
        }
        
        &__logo--img{
            width: 127px;
            height: 32px;
        }
    }   
}

@media only screen and (max-width: 570px) {
    .site-header{
        padding-top: 48px;
        padding-bottom: 48px;
        
        &__btn{
            display: none;
        } 

        &__burger-menu{
            display: block;
        }
    }

    .sitenav{
        display: none;
    }
}
/********** HEADER MOBILE STYLES END **********/ 

/***************** HEADER STYLES END ******************/ 